.wrapper {
    margin-top: 25vh;
}

.container {
    display: flex;

    justify-content: center;
}

.fake-button {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.7);

    border-width: 1px;
    border-style: solid;
}

a {
    color: rgba(255, 255, 255, 0.9)
}