body {
    background-color: rgb(0, 0, 50);
}

#app {
}

#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.player-section:first-child {
    border-radius: 2em 2em 0 0;
}

.player-section:last-child {
    border-radius: 0 0 2em 2em;
}

/* border colors */
.border-invisible {
    border: 1px solid rgba(255, 255, 255, 0.0);
}
.border-faint {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.border-highlight {
    border-color: rgba(255, 255, 255, 0.7) !important;
}

.player-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 1px solid rgba(255, 255, 255, 0.2);
}

.border-highlight > .slot {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.slot {
    background-color: rgba(255, 255, 255, 0.05);

    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;

    color: white;
    font-size: 300%;

    text-align: center;

    border: 1px solid rgba(255, 255, 255, 0.0);
}

.slot:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

/* todo split this into another css file? */

.star {
    width: 20px;
    height: 20px;

    position: absolute;

    /* using this to prevent stars from blocking the
    *  slot:hover and the slot's onclick events
    */
    pointer-events: none;
}

.keep_outer {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.keep_inner {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes starMovement {

}

.fake-button {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.7);

    border-width: 1px;
    border-style: solid;
}

.container {
    margin: 10px;
    display: flex;

    justify-content: center;
}